<section class="my-16 lg:my-20">
   {{ accordian__fields }}
   <div class="container  |  pb-12 lg:pb-16">
      <div class="row">
         <div class="col-xs-12 col-sm-10 col-md-7">
            {{#   Heading   #}}
            {{ accordian__heading | wrap:h1.heading.--dash.--green }}

            {{#   Copy   #}}
            {{ accordian__copy | wrap:p.text.--large }}
         </div>
      </div>
   </div>

   {{#   Accordian   #}}
   <div class="accordian">

      {{#   Accordian Section   #}}
         {{ accordian__sections limit="1" }}
            {{ partial:molecules/accordian__section
               btnState="--active"
            }}
         {{ /accordian__sections }}

         {{ accordian__sections offset="1" }}
            {{ partial:molecules/accordian__section
               sectionState="--hidden"
            }}
         {{ /accordian__sections }}
   </div>

   {{ /accordian__fields }}
</section>