<!--   Two Column Content Grid   -->
<section class="max-w-3xl mx-auto px-4   xs:px-6   sm:px-10   md:px-16   lg:px-20                    my-16 lg:my-20">
   <!--   Header   -->
   <div class="row">

      <div class="col-xs-12 col-sm-10  {{ if template == "product" }}col-md-6{{ else }}col-md-7{{ /if }}">

         {{ {{ if section == "why_abodu__"}}why_abodu__{{/if}}two_column_content_grid__fields }}

            {{#   Heading   #}}
            {{ two_column_content_grid__heading | wrap:h1.heading.--dash.--rust }}

            {{#   Subheading   #}}
            {{ two_column_content_grid__subheading | wrap:h2.heading.--tertiary.max-w-sm }}

            {{#   Intro   #}}
            {{ two_column_content_grid__intro | wrap:p.text.--large }}

         {{ /{{ if section == "why_abodu__" }}why_abodu__{{/if}}two_column_content_grid__fields }}

      </div>
   </div>
   <!-- End Header -->

   <!--   List   -->
   <div class="row  |  {{ if section == 'interior' }}mt-4{{/if}}">

      {{ {{ if section == "why_abodu__" }}why_abodu__{{/if}}two_column_content_grid__fields }}
         {{ two_column_content_grid__list }}
            <div class="col-xs-12 col-md-6  |  {{ if section == 'why_abodu__' }}mt-8  |  md:flex md:flex-col{{ elseif section== 'interior' }}mt-4{{ else }}mt-8 md:mt-16{{ /if }}">
               {{#
               {{ if section == "why_abodu__" }}why_abodu__{{/if}}
               #}}

               {{#   h2   #}}
               {{ two_column_content_grid__list--item--heading | wrap:h2.heading.--senary.mb-2 }}

               {{ if two_column_content_grid__list--item--copy }}
                  <div class="mb-auto">
                     <div class="nested-mb-6 {{ if two_column_content_grid__list--item--list }}matchHeight{{ /if }}">
                        {{ two_column_content_grid__list--item--copy | markdown }}
                     </div>
                  </div>
               {{ /if }}

               {{ if two_column_content_grid__list--item--list }}
                  <ul class="list-reset list  |  {{ if section == 'interior' }}mt-4{{ else }}mt-10{{/if}}">
                     {{ two_column_content_grid__list--item--list }}
                        <li>{{ value }}</li>
                     {{ /two_column_content_grid__list--item--list }}
                  </ul>
               {{ /if }}

               {{ if two_column_content_grid__list--item--button }}
                  {{ partial:atoms/btn--arrow url="{{ two_column_content_grid__list--item--button.url }}" text="{{ two_column_content_grid__list--item--button.text }}" }}
               {{ /if }}

            </div>
         {{ /two_column_content_grid__list }}
      {{ /{{ if section == "why_abodu__" }}why_abodu__{{/if}}two_column_content_grid__fields }}

   </div>
   <!-- End List -->
</section>
<!-- End Two Column Content Grid -->