<div class="col-xs-12   col-md-6   col-lg-6">
   <div class="site-footer__nav-wrap">
      <!--   Small Screens   -->
      <div class="site-footer__small-nav">
         <div class="">
            {{ nav from="/" exclude="legal" }}
               <a href="{{ url }}">{{ title }}</a>
            {{ /nav }}

               <a href="https://www.notion.so/Careers-cb97c6928e60424a9b8d828ccc6a8711" target="_blank">Careers</a>
         </div>

         <div class="">
            {{ social_media.social_media__accounts }}
               {{ if social_media__acounts--account__display_account == "true" }}
                  <a href="{{ social_media__acounts--account__url }}" target="_blank">
                     {{ partial:atoms/social-icons account="{{ social_media__acounts--account__name }}" }}
                  </a>
               {{ /if }}
            {{ /social_media.social_media__accounts }}



         </div>
      </div>

      <!--   Large Screens   -->
      <div class="site-footer__large-nav">
         <div>
            {{ nav from="/" exclude="legal" limit="4" is_hidden:isnt="true" }}
               <div class="">
                  <a href="{{ url }}">{{ title }}</a>
               </div>
            {{ /nav }}
         </div>

         <div>
            {{ nav from="/" exclude="legal" offset="4" is_hidden:isnt="true" }}
               <div class="">
                  <a href="{{ url }}">{{ title }}</a>
               </div>
            {{ /nav }}
               <div>
                  <a href="https://www.notion.so/Careers-cb97c6928e60424a9b8d828ccc6a8711" target="_blank">Careers</a>
               </div>
         </div>

         <div>
            {{ social_media.social_media__accounts }}
               {{ if social_media__acounts--account__display_account == "true" }}
                  <div>
                     <a href="{{ social_media__acounts--account__url }}" target="_blank">
                        {{ partial:atoms/social-icons account="{{ social_media__acounts--account__name }}" }}
                     </a>
                  </div>
               {{ /if }}
            {{ /social_media.social_media__accounts }}
         </div>
      </div>
   </div>
</div>
