<footer class="bg-black text-grey-light">
   <div class="max-w-3xl mx-auto px-4 pb-8 pt-12   xs:px-6   sm:px-10   md:px-16 md:pt-16   lg:px-20 lg:pt-24">   <!--  16 / 32 / 40 / 64 / 80    currently:   16 / 24 / 40 / 64 / 80 -->
      <div class="row">
         <!--   Logo   -->
         <div class="col-xs-12   col-lg-3">
            <a class="block mb-8   md:mb-12   lg:mb-0 lg:mt-3" href="">
               <img class="block h-6 w-24 hover:opacity-50" src="{{ theme:asset src="images/abodu_wordmark.svg" }}">
               <span class="element-invisible">Abodu</span>
            </a>
         </div>

         <!--   Footer   -->
         <div class="col-xs-12   col-md-6   col-lg-5 bordfer bforder-green">
            <nav class="flex flex-wrap mb-8 -mx-3   xs:-mx-4   sm:-mx-2   lg:mb-0">
               <a class="leading-loose no-underline px-3 py-1 text-14 text-grey-light w-1/2 hover:opacity-75   xs:px-4 xs:w-auto   sm:px-2 sm:w-1/3" href="/why-backyard-living">Why backyard living?</a>
               <a class="leading-loose no-underline px-3 py-1 text-14 text-grey-light w-1/2 hover:opacity-75   xs:px-4 xs:w-auto   sm:px-2 sm:w-1/3" href="/product">Product</a>
               <a class="leading-loose no-underline px-3 py-1 text-14 text-grey-light w-1/2 hover:opacity-75   xs:px-4 xs:w-auto   sm:px-2 sm:w-1/3" href="#">Service</a>
               <a class="leading-loose no-underline px-3 py-1 text-14 text-grey-light w-1/2 hover:opacity-75   xs:px-4 xs:w-auto   sm:px-2 sm:w-1/3" href="#">Pricing</a>
               <a class="leading-loose no-underline px-3 py-1 text-14 text-grey-light w-1/2 hover:opacity-75   xs:px-4 xs:w-auto   sm:px-2 sm:w-1/3" href="contact-us">Contact</a>
               <a class="leading-loose no-underline px-3 py-1 text-14 text-grey-light w-1/2 hover:opacity-75   xs:px-4 xs:w-auto   sm:px-2 sm:w-1/3" href="#">About</a>
               <a class="leading-loose no-underline px-3 py-1 text-14 text-grey-light w-1/2 hover:opacity-75   xs:px-4 xs:w-auto   sm:px-2 sm:w-1/3" href="#">Facebook</a>
               <a class="leading-loose no-underline px-3 py-1 text-14 text-grey-light w-1/2 hover:opacity-75   xs:px-4 xs:w-auto   sm:px-2 sm:w-1/3" href="#">Instagram</a>
               <a class="leading-loose no-underline px-3 py-1 text-14 text-grey-light w-1/2 hover:opacity-75   xs:px-4 xs:w-auto   sm:px-2 sm:w-1/3" href="#">Twitter</a>
            </nav>
         </div>


         <!--   Contact   -->
         <div class="col-xs-12   col-md-6   col-lg-4">
            <div class="mb-12   md:mb-24   lg:mb-32">

               <h2 class="heading  |  text-18  | mb-2">Stay in touch</h2>
               <p class="mb-5 text-13">Be the first to know when we have important updates.</p>

               <!--   Form   --
               <form class="lg:border-b-2 lg:flex">
                  <label for="email" class="element-invisible">Email</label>
                  <input name="email" id="email" type="email" placeholder="Enter Email Address">

                  <input class="btn --outline --blue --submit   cursor-pointer" type="submit" value="Subscribe">
               </form>
               <!-- End Form -->

               <!-- Begin Mailchimp Signup Form -->
               <!--<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">-->

               <div id="mc_embed_signup">
                  <form action="https://Abodu.us7.list-manage.com/subscribe/post?u=9d88fa6493c52616017fd9d78&amp;id=c9773d431a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                     <div id="mc_embed_signup_scroll">

                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter Email Address" required="">

                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                           <input type="text" name="b_9d88fa6493c52616017fd9d78_c9773d431a" tabindex="-1" value="">
                        </div>

                        <div class="clear">
                           <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                        </div>
                     </div>
                  </form>
               </div>

               <!--End mc_embed_signup-->

            </div>
         </div>
         <!-- End Contact -->
      </div>

      <div class="row">
         <div class="col-xs-12   col-md-6">
            <p class="mb-2 text-12   md:mb-0">&copy;<script type="text/javascript">document.write(new Date().getFullYear());</script> Abodu. All rights reserved</p>
         </div>

         <div class="col-xs-12   col-md-6">
            <div class="flex -mx-2   xs:-mx-4   md:justify-end">
               <a class="no-underline px-2 text-12 text-grey-light hover:opacity-75   xs:px-4" href="#">Privacy Policy</a>
               <a class="no-underline px-2 text-12 text-grey-light hover:opacity-75   xs:px-4" href="#">Terms of Service</a>
               <a class="no-underline px-2 text-12 text-grey-light hover:opacity-75   xs:px-4" href="#">Terms of Use</a>
            </div>
         </div>
      </div>
   </div>
</footer>