<section class="max-w-3xl mx-auto px-4   xs:px-6   sm:px-10   md:px-16   lg:px-20                     my-16 lg:my-20">


   <div class="row">
      <div class="col-xs-12 mb-10">

            <h1 class="heading --dash --rust">How it's delivered</h1>
            <h2 class="heading --sub">Seamless Experience.</h2>
            <p class="text-16   xs:text-18   max-w-xl">We'll take care all of the messy details like permitting that you shouldn't have to think about.</p>

            {{ partial:atoms/btn--arrow text="View Services" }}

      </div>
   </div>

   <div class="row -mb-8">
      <div class="col-xs-12   col-sm-6   col-lg-4">

         <div class="pb-8">
            <img class="h-10 mb-2 w-9   md:h-12 md:mb-3 md:w-11" src="{{ theme:images src="icons/2-week-install.svg" }}">
            <h3 class="font-bold leading-tight mb-2 text-20   md:mb-3 md:text-26">2-Week Install</h3>
            <p>We've worked with cities to re-engineer the permitting process from the ground up. If you're in one of our initial pilot locations, we can get a permit in a matter of hours instead of months. We'll be in your backyard in less than 2 weeks, guaranteed.</p>
         </div>
      </div>

      <div class="col-xs-12   col-sm-6   col-lg-4">
         <div class="pb-8">
            <img class="h-10 mb-2 w-9   md:h-12 md:mb-3 md:w-11" src="{{ theme:images src="icons/a_better_foundation.svg" }}">
            <h3 class="font-bold leading-tight mb-2 text-20   md:mb-3 md:text-26">A Better Foundation</h3>
            <p>What you don't want: Concrete trucks in your backyard, ripping everything up and disrupting your neighbors. We'll use helical piers that we over-engineered to meet nearly every soil condition, paired with a proprietary connection system that allows us to be in and out in a breeze.</p>
         </div>
      </div>

      <div class="col-xs-12   col-sm-6   col-lg-4">
         <div class="pb-8">
            <img class="h-10 mb-2 w-9   md:h-12 md:mb-3 md:w-11" src="{{ theme:images src="icons/painless_purchase.svg" }}">
            <h3 class="font-bold leading-tight mb-2 text-20   md:mb-3 md:text-26">Painless Purchase</h3>
            <p>Place a $1,000 deposit and we'll conduct a feasibility study for you. If we can't get a permit approved, you get that back. Need help with financing? We can provide that through our partner, XXXX. (Note - partner to be selected over the next ~2 months)</p>
         </div>
      </div>
   </div>

</section>