<!--   How It's Built   -->
<section class="max-w-3xl mx-auto px-4   xs:px-6   sm:px-10   md:px-16   lg:px-20             py-12 lg:pb-20 lg:pt-10   my-16 lg:my-20       relative" style="z-index: 1">

   <!--   Color Block Background   -->
   <div class="absolute bg-sand h-full pin-r pin-t w-3/4   xl:-mr-20 xl:w-4/5" style="z-index:-1"></div>


   <div class="row">
      <div class="col-xs-12 mb-6">

            <h1 class="heading --dash --rust">How it's built</h1>
            <h2 class="heading --tertiary">A No-Compromise Product.</h2>

      </div>
   </div>

   <!--   Image Grid   -->
   {{ partial:molecules/image_grid }}
   <!-- End Image Grid -->

   <div class="row   end-md">
      <!--   Text: Hidden on Medium/Large Display   -->
      <div class="col-xs-12 col-sm-10 col-md-5  |  md:-mt-1/5">
         <div class="nested-mb-6 -mt-2 lg:mt-0 xl:-mt-5">
            <p>Tesla doesn't manufacture cars in your driveway. We pair the latest technology with the industry's best craftsmen (and craftswomen- looking at you, Brianna) to build Abodu's in our factory to the highest environmental standards. What that means: you get a premium product with higher quality materials, at a lower price. That’s our no-compromise approach.</p>
         </div>

         {{ partial:atoms/btn--arrow text="View Product" }}
      </div>
   </div>
</section>
<!-- End How It's Built -->