<!--   What We Do   -->
<section class="max-w-3xl mx-auto px-4   xs:px-6   sm:px-10   md:px-16   lg:px-20                    mb-16 lg:mb-20   py-12   md:py-16    relative     bg-black">

   <div class="absolute h-full overflow-hidden pin-t pin-r    hidden   md:flex md:items-center" style="width: 34.72868217%">
      <img class="block w-full" src="{{ theme:images src='patterns/pattern--1.svg' }}">
   </div>

   <div class="row">
      <div class="col-xs-12   col-sm-10   col-md-7">
         <h1 class="heading --dash --white">What we do</h1>
         <p class="text-24 text-white   lg:text-32">Seamless buying, seamless installation, instant gratification. We do the heavy lifting so you don’t have to — welcome to your backyard home, welcome to your Abodu.</p>

         {{ partial:atoms/btn--arrow color="--white" url="https://google.com" text="Why Backyard Living" }}
      </div>
   </div>

</section>