<!DOCTYPE html>
<html>
   <head>
      <title>{{ title or site_title }}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="canonical" href="">

      <link rel="stylesheet" href="{{ theme:css }}">
   </head>


   <body class="flex font-sans leading-normal m-0 p-0 text-16 text-black">
      <div class="w-full min-h-screen flex flex-col overflow-hidden">

         {{ partial:nav }}

         <div class="flex-grow">
            {{ template_content }}

            {{ partial:footer }}
         </div>

         <div class="bg-black h-full"></div>

      </div>


      {{#   JavaScript   #}}
      {{ partial:javascript }}
   </body>
</html>