//
// Accordian
//

.accordian {
   @apply border-t border-green;

   .accordian__section {
      @apply border-b border-green;

      .accordian__section--header {
         @apply py-8 relative;

         .accordian__section--number {
            @apply block leading-none text-20 text-green;
            padding-top: 2px;

            @media screen and (min-width: 48rem) {
               @apply text-30;
               padding-top: 0
            }
         }
      }

      .accordian__section--body {
         @apply opacity-100 pb-10 visible;
         transition: opacity 500ms;

         &.--hidden {
            @apply invisible opacity-0 pb-0;
            height: 0;
         }
      }
   }
}

// Toggle Indicator
.accordian__section--indicator {
   @apply absolute block leading-none pin-r pin-t text-24 text-black text-center;
   margin-right: -11.8257727273%;

   @screen sm {
      margin-right: 0
   }

   &:hover {
      //@apply text-green
   }

   &::before {
      content: '+'
   }

   @media screen and (min-width: 48rem) {
      @apply text-30
   }
}

// Toggle Indicator Hover
.js-accordian__btn {
   // Non-touch Devices
   @media (hover: hover) {
      &:hover {
         .accordian__section--indicator {
            @apply text-green
         }
      }
   }
}

// Toggle Indicator Active
.js-accordian__btn {
   &.--active {
      .accordian__section--indicator {
         &::before {
            content: '-'
         }
      }
   }
}