//
// Image Grids
//

.image_grid {
   .image_grid__3by4 {
      div {
         @apply mt-8;
         margin-right: -24px;

         @media screen and (min-width: 36rem) {
            @apply mt-12;
            margin-right: -22px
         }

         @media screen and (min-width: 48rem) {
            @apply mt-16
         }

         @media screen and (min-width: 62rem) {
            @apply flex h-full items-center mt-0
         }
      }
   }

   .image_grid__1by1 {
      @apply flex-no-shrink;
      margin-top: .5rem;
      width: 40.22346369%;

      @media screen and (min-width: 36rem) {
         margin-top: 10px;
      }

      @media screen and (min-width: 48rem) {
         @apply pr-8;
         width: 39.59255979%
      }

      @media screen and (min-width: 62rem) {
         width: 39.29618768%
      }

      @media screen and (min-width: 75rem) {
         width: 39.20143412%
      }
   }
}


.image_grid__reverse {
   .image_grid__reverse--3by2 {
      div {
         @apply mt-8;
         margin-right: -24px;

         @media screen and (min-width: 36rem) {
            @apply mt-12;
            margin-right: -22px
         }

         @media screen and (min-width: 48rem) {
            @apply mt-16
         }

         @media screen and (min-width: 62rem) {

         }
      }
   }

   .image_grid__reverse--1by1 { width: 54% }

   .image_grid__reverse--3by4 {
      margin-top: .5rem;

      @media screen and (min-width: 36rem) {
         margin-top: 10px;
      }
   }
}