//
// Site Header
//

// ---------------------------------------------------------------------------
// Logo
#logo {
   height: 24px;
   width: 104px;

   svg {
      height: 24px;
      width: 104px;
   }

   @media screen and (min-width: 22.5rem) {
      height: 28px;
      width: 120px;

      svg {
         height: 28px;
         width: 120px;
      }
   }

   @media screen and (min-width: 36rem) {
      height: 32px;
      width: 140px;

      svg {
         height: 32px;
         width: 140px;
      }
   }
}



// ---------------------------------------------------------------------------
// Nav
#nav_wrap {
	transform: translate(0, 0);
	transition-duration: .45s;

	&.at-top--false.scroll-direction--down { transform: translate(0, -100%) }

	#site_nav {
		@media screen and (max-width: 62rem) {
			@apply invisible opacity-0;
         height: 0;

			&.is-visible {
				@apply h-screen opacity-100 visible;

				transition: opacity 350ms ease-out
			}
		}

		#menu {
			li {
            a {
               padding-bottom: 4px;

               &::after {
                  @apply absolute border-b-2 pin-b pin-l;
                  content: "";
                  transition: width .25s ease-in-out;
                  width: 0;
               }

               // Non-touch Devices
               @media (hover: hover) {
                  &:hover::after { @apply .w-full }
               }

               &.--current {
                  &::after {
                     @apply w-full
                  }
               }

               @media screen and (min-width: 62rem) {
                  @apply pb-3
   				}
            }
			}
		}
	}
}

#nav_wrap {
   #logo { @apply text-white }

   .hamburger {
      .hamburger-inner {
         &, &::before, &::after {
            background-color: #fff
         }
      }
   }

   #menu {
      li {
         a {
            @apply text-black;

            &::after {
               @apply border-rust
            }

            @media screen and (min-width: 62rem) {
               @apply text-white;

               &::after { @apply border-white }
            }
         }
      }
   }

   &.--black {
      #logo { @apply text-black }

      .hamburger {
         .hamburger-inner {
            &, &::before, &::after {
               @apply bg-black
            }
         }
      }

      #menu {
         li {
            a {
               @apply text-black;

               &::after {
                  @apply border-rust
               }
            }
         }
      }
   }

   &.--active {
      @apply bg-white shadow;

      //transition: color 250ms ease-in-out;

      #logo { @apply text-black }

      .hamburger {
         .hamburger-inner {
            &, &::before, &::after {
               @apply bg-black
            }
         }
      }

      #menu {
         li {
            a {
               @apply text-black;

               &::after {
                  @apply border-rust
               }
            }
         }
      }
   }
}

body.menu_open {
   #nav_wrap {
      #logo { @apply text-black }

      .hamburger {
         .hamburger-inner {
            &, &::before, &::after {
               @apply bg-black
            }
         }
      }

      #menu {
         li {
            a {
               @apply text-black;

               &::after {
                  @apply border-rust
               }
            }
         }
      }
   }
}


.site_banner {
   @apply bg-sand text-rust text-13;
   
   &__inner {
      @apply
         relative
         max-w-3xl
         mx-auto py-4 pl-4 pr-12
         leading-tight;

      a {
         @apply no-underline text-rust whitespace-no-wrap;
         border-bottom: 1px solid;

         &:hover { @apply text-black }
      }

      button {
         @apply
            absolute
            h-4 w-4 mr-4
            text-rust;
         top: calc(50% - .5rem);
         right: 0;

         &:hover { @apply text-black }

         svg { @apply h-full w-full }
      }
   }

   @screen xs {
      &__inner {
         @apply pl-6 pr-14;
      
         button {
            @apply mr-6;
            top: calc(50% - .5rem )
         }
      }
   }

   @screen sm {
      &__inner {
         @apply pl-10 pr-18;
      
         button { @apply mr-10 }
      }
   }

   @screen md {
      @apply text-16;
      
      &__inner {
         @apply pl-16 pr-26;

         button {
            @apply
               h-5 w-5
               mr-16;
            top: calc(50% - .625rem)
         }
      }
   }

   @screen lg {
      &__inner {
         @apply
            text-center
            pl-20 pr-32;

         button {
            @apply
               h-6 w-6
               mr-20;
            top: calc(50% - .75rem)
         }
      }
   }
}

.site-banner-padding {
   @apply pt-12;

   @screen md {
      padding-top: 3.25rem
   }
}