<!--   Hero   -->
{{ partial:molecules/hero
   bg_color="rust"
   color="white"
}}


<!--   Our Vision   -->
<section class="max-w-3xl mx-auto px-4   xs:px-6   sm:px-10   md:px-16   lg:px-20                    my-16 lg:my-20">
   <div class="row center-xs">
      <div class="col-xs-12 col-sm-10 | pt-6 lg:pt-10">
         {{ faq__list }}
            <div class="pb-10">
               {{#   Heading   #}}
               <h3 class="heading --quinary  |  mb-2 md:mb-3">{{ faq__list--item__question }}</h3>

               {{#   Copy   #}}
               <div class="nested-mb-6">
                  {{ faq__list--item__answer | markdown }}
               </div>
            </div>
         {{ /faq__list }}
      </div>
   </div>
</section>
<!-- End Our Vision -->


<section class="container  |  my-16 lg:my-20">
   <!--   Image Grid   -->
   {{ partial:molecules/image_grid }}
   <!-- End Image Grid -->
</section>