<!--   Hero   -->
{{ partial:molecules/hero }}

<!--   What We Do   -->
<section>
   {{
      partial:molecules/slider
      section="What We Do"
   }}
   {{
      partial:molecules/content_block_with_pattern
      section="What We Do"
   }}
</section>

<!--   How It Feels   -->
{{ partial:molecules/photo_with_content_block }}


<!--   How It's Built   -->
<section class="max-w-3xl mx-auto px-4   xs:px-6   sm:px-10   md:px-16   lg:px-20             py-12 lg:pb-20 lg:pt-10   my-16 lg:my-20       relative" style="z-index: 1">

   <!--   Color Block Background   -->
   <div class="absolute bg-sand h-full pin-r pin-t w-3/4   xl:-mr-20 xl:w-4/5" style="z-index:-1"></div>


   <div class="row">
      <div class="col-xs-12 mb-6">

         {{ how_its_built__fields }}
            <h1 class="heading --dash --rust">{{ how_its_built__heading }}</h1>
            <h2 class="heading --tertiary">{{ how_its_built__subheading }}</h2>
         {{ /how_its_built__fields }}

      </div>
   </div>

   <!--   Image Grid   -->
   {{ partial:molecules/image_grid }}
   <!-- End Image Grid -->

   <div class="row   end-md">
      <!--   Text: Hidden on Medium/Large Display   -->
      <div class="col-xs-12 col-sm-10 col-md-5  |  md:-mt-1/5">

         {{ how_its_built__fields }}
            <div class="nested-mb-6 -mt-2 lg:mt-0 xl:-mt-5">
               {{ how_its_built__copy | markdown }}
            </div>

            {{ how_its_built__button }}
               {{ partial:atoms/btn--arrow url="{{ how_its_built__button.url }}" text="{{ how_its_built__button.text }}" }}
            {{ /how_its_built__button }}
         {{ /how_its_built__fields }}

      </div>
   </div>
</section>
<!-- End How It's Built -->


<!--   How It's Delivered   -->
<section class="container  |  my-16 lg:my-20">
   {{ how_its_delivered__fields }}
      <div class="row">
         <div class="col-xs-12 mb-10">
               {{#   Heading   #}}
               {{ how_its_delivered__heading | wrap:h1.heading.--dash.--rust }}

               {{#   Subheading   #}}
               {{ how_its_delivered__subheading | wrap:h1.heading.--tertiary }}

               {{#   Copy   #}}
               <p class="text-16 xs:text-18  |  max-w-xl  |  mt-3">{{ how_its_delivered__copy }}</p>

               {{#   Button   #}}
               {{ if how_its_delivered__button }}
                  {{
                     partial:atoms/btn--arrow
                     url="{{ how_its_delivered__button.url }}"
                     text="{{ how_its_delivered__button.text }}"
                  }}
               {{ /if }}

         </div>
      </div>

      <div class="row -mb-8">
         {{ how_its_delivered__list }}
            <div class="col-xs-12   col-sm-6   col-lg-4">
               <div class="pb-8">
                  {{#   Icon   #}}
                  {{ partial:atoms/icons icon="{{ how_its_delivered__list--item__icon }}" }}

                  {{#   Heading   #}}
                  <h3 class="heading --quinary  |  mb-2 md:mb-3">{{ how_its_delivered__list--item__heading }}</h3>

                  {{#   Copy   #}}
                  <p>{{ how_its_delivered__list--item__copy }}</p>
               </div>
            </div>
         {{ /how_its_delivered__list }}

      </div>

   {{ /how_its_delivered__fields }}
</section>

{{ partial:molecules/color_block }}


<!--   CTA   -->
{{ partial:molecules/cta }}