{{ partial:molecules/hero }}


<!--   Cost   -->
{{ partial:molecules/photo_with_content_block }}


<!--   Upgrades & Options   -->
{{ partial:molecules/content_block_with_pattern section="Upgrades"}}


<!--   Payment Schedule   -->
<section class="container  |  my-16 lg:my-20">
   <div class="row  |  mb-8 md:mb-12">
      <div class="col-xs-12 col-sm-10 col-md-7">
         {{ payment__fields.payment__heading | wrap:h1.text.--large }}
      </div>
   </div>

   <div class="row  |  -mb-8 md:-mb-16">
      {{ payment__fields }}
         {{ payment__schedule }}
         <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="pb-8 md:pb-16">
               {{#   Number   #}}
               {{ payment__schedule--block__number | wrap:p.heading.--dash.--rust }}

               {{#   Heading & Payment   #}}
               <div class="flex items-center  |  mb-3 md:mb-5">
                  <h2 class="font-bold leading-tight text-16 md:text-20  |  pr-4">
                     {{ payment__schedule--block__heading }}
                  </h2>

                  <div class="bg-rust" style="height:20px;width: 2px;margin-top:4px"></div>

                  <p class="leading-tight text-16 md:text-20  |  pl-4">
                     {{ payment__schedule--block__payment }}
                  </p>
               </div>

               {{#   Copy   #}}
               <div class="nested-mb-6  |  lg:w-9/10">
                  {{ payment__schedule--block__copy | markdown }}
               </div>
            </div>
         </div>
         {{ /payment__schedule }}
      {{ /payment__fields }}
   </div>
</section>


<!--   Transparency   -->
{{ partial:molecules/image_grid_with_color_block section="pricing" }}


<!--   CTA   -->
{{ partial:molecules/cta }}