{{ partial:molecules/hero
      bg_color="black"
      color="white"
}}

<!--   Product Pillars   -->
{{ partial:molecules/photo_with_content_block }}


<!--   Abodu 450   -->
<section>
   {{
      partial:molecules/slider
      section="Abodu 450"
   }}
   {{
      partial:molecules/content_block_with_pattern
      section="Abodu 450"
   }}

   <div class="max-w-3xl mx-auto px-4   xs:px-6   sm:px-10   md:px-16   lg:px-20">
      <div class="row center-xs">
         <div class="col-xs-12 col-md-10">

            {{ abodu_450__fields }}
               {{ assets:product_specs__image }}
                  <img class="mb-6" src="{{ url }}" alt="">
               {{ /assets:product_specs__image }}

               <p class="text-14 text-center"><span class="font-bold">Product Specs:</span> {{ product_specs__copy }}</p>
            {{ /abodu_450__fields }}

         </div>
      </div>
   </div>
</section>


<!--   Exterior   -->
<section class="max-w-3xl mx-auto px-4   xs:px-6   sm:px-10   md:px-16   lg:px-20                    my-16 lg:my-20">
   <div class="row reverse-md">

      {{ exterior__fields }}
      <!--   Image   -->
      <div class="col-xs-12 col-md-6 | mb-8 md:mb-0">
         <figure class="img --is3by2">
            {{ assets:exterior__image }}
               <img src="{{ url }}" alt="">
            {{ /assets:exterior__image }}
         </figure>
      </div>

      <!--   Content Column   -->
      <div class="col-xs-12 col-sm-10 col-md-6">
         <div class="row">

            <div class="col-xs-12 col-lg-11">
               {{#   Heading   #}}
               {{ exterior__heading | wrap:h1.heading.--dash.--rust }}

               {{#   Subheading   #}}
               {{ exterior__subheading | wrap:h2.heading.--tertiary.max-w-sm }}

               <ul class="list-reset list  |  mt-8">
                  {{ exterior__list }}
                     <li>{{ value }}</li>
                  {{ /exterior__list }}
               </ul>
            </div>
         </div>
      </div>
      {{ /exterior__fields }}

   </div>
</section>


<!--   Interior   -->
{{ partial:molecules/two_column_content_grid section="interior" }}


<!--   Customize   -->
{{ partial:molecules/image_grid_with_color_block section="customize" }}


<!--   Design Partnership   -->
{{ design_partnership__photo_with_content_block__fields }}
   <section class="max-w-3xl mx-auto px-4   xs:px-6   sm:px-10   md:px-16   lg:px-20                    my-16 lg:my-20">

      <div class="row">
         <div class="col-xs-12 col-md-6 | mb-8 md:mb-0">
            <figure class="img --is4by5   sm:--is5by4   md:--is4by5">

               <!--   Image   -->
               <div class="absolute pin-l pin-t w-9/10  sm:w-4/5 md:w-9/10 lg:w-4/5">
                  <figure class="img --is4by5   sm:--is5by4   md:--is4by5">
                     {{ photo_with_content_block__image }}
                        <img src="{{ value }}" alt="" style="-o-object-position: top;
     object-position: top;">
                     {{ /photo_with_content_block__image }}
                  </figure>
               </div>

               <!--   Logo   -->
               <div class="absolute pin-b pin-r  |  w-24 xs:w-32 sm:w-48 md:w-32 lg:w-48">
                  <div class="img --is1by1">
                     <img src="{{ theme:asset src="images/koto_logo.jpg" }}" alt="">
                  </div>
               </div>
            </figure>
         </div>

         <div class="col-xs-12 col-sm-10 col-md-6">
            <div class="row end-xs | h-full">

               <div class="col-xs-12 col-lg-10      flex items-center">
                  <div class="{{ if photo_with_content_block__list }}-mb-12{{/if}} md:pt-8 xl:pt-16">
                     {{#   Heading   #}}
                     {{ photo_with_content_block__heading | wrap:h1.heading.--dash.--rust }}

                     {{ if photo_with_content_block__subheading }}
                        <h2 class="heading --tertiary  |  xl:pr-20">{{ photo_with_content_block__subheading | wrap.h2.heading --tertiary}}</h2>
                     {{ /if }}

                     {{ if photo_with_content_block__copy }}
                        <div class="nested-mb-6 mt-6">
                           {{ photo_with_content_block__copy | markdown }}
                        </div>
                     {{ /if }}

                     {{ partial:atoms/btn--arrow url="{{ photo_with_content_block__link.url }}" text="{{ photo_with_content_block__link.text }}" offsite="true" }}

                  </div>
               </div>
            </div>
         </div>
      </div>

   </section>
{{ /design_partnership__photo_with_content_block__fields }}


<!--   CTA   -->
{{ partial:molecules/cta }}