
<!--   Hero   -->
{{ partial:molecules/hero
   bg_color="rust"
   color="white"
}}


<!--   Homeowners   -->
{{ partial:molecules/two_column_content_grid }}


<!--   Home Value Calculator   -->
{{ partial:molecules/color_block }}


<!--   Renters   -->
{{ partial:molecules/image_grid_with_color_block section="renters" }}


<!--   Why Abodu   -->
{{ partial:molecules/two_column_content_grid section="why_abodu__" }}


<!--   California   -->
{{ partial:molecules/photo_with_content_block }}


<!--   CTA   -->
{{ partial:molecules/cta }}