<!-- Hero -->
{{ partial:molecules/hero
   bg_color="rust"
   color="white"
}}

<!-- Content Grid -->
{{ partial:molecules/two_column_content_grid }}


<!-- Calculator -->
{{ partial:calculator }}


<!--   Renters   -->
<section class="max-w-3xl mx-auto px-4   xs:px-6   sm:px-10   md:px-16   lg:px-20       pb-12 lg:pb-20 my-16 lg:my-20       relative" style="z-index: 1">

   <!--   Color Block Background   -->
   <div class="absolute bgf-sand h-full pin-b pin-l pin-r pt-32 md:pt-48 lg:pt-76" style="z-index:-1">
      <div class="bg-sand h-full"></div>
   </div>

   <!--   Image Grid   -->
   {{ partial:molecules/image_grid__reverse }}
   <!-- End Image Grid -->

   <div class="row">
      <!--   Text: Hidden on Medium/Large Display   -->
      <div class="col-xs-12 col-sm-10 col-lg-7  |  mb-10 lg:mb-16 lg:-mt-12 xl:-mt-20">
         <h1 class="heading --dash --rust">Benefits for renters</h1>
         <p class="text-24 md:text-32">If you rent out your Abodu, you'll make someone very happy.</p>
      </div>
   </div>

   <div class="row -mb-8">
      <div class="col-xs-12   col-sm-6   col-lg-4">

         <div class="pb-8">
            <div class="border-2 border-rust rounded-full  |  h-10 md:h-12 lg:h-16 w-10 md:w-12 lg:w-16  |  mb-2 md:mb-3 lg:mb-8 "></div>
            <h2 class="font-bold leading-tight mb-2 text-20   md:mb-3 md:text-26">Live closer to work</h2>
            <p>No more 2+ hours of commuting per day, as is so common for many.</p>
         </div>
      </div>

      <div class="col-xs-12   col-sm-6   col-lg-4">
         <div class="pb-8">
            <div class="border-2 border-rust rounded-full  |  h-10 md:h-12 lg:h-16 w-10 md:w-12 lg:w-16  |  mb-2 md:mb-3 lg:mb-8 "></div>
            <h2 class="font-bold leading-tight mb-2 text-20   md:mb-3 md:text-26">Naturally-affordable housing</h2>
            <p>Most ADUs rent slightly below comparable 1-bedroom units, largely due to the smaller footprint.</p>
         </div>
      </div>

      <div class="col-xs-12   col-sm-6   col-lg-4">
         <div class="pb-8">
            <div class="border-2 border-rust rounded-full  |  h-10 md:h-12 lg:h-16 w-10 md:w-12 lg:w-16  |  mb-2 md:mb-3 lg:mb-8 "></div>
            <h2 class="font-bold leading-tight mb-2 text-20   md:mb-3 md:text-26">The perfect rental</h2>
            <p>New construction. Beautifully designed. Energy efficient. No neighbors (or, rather, no shared walls).</p>
         </div>
      </div>
   </div>
</section>
<!-- End Renters -->


<!--   Why Abodu   -->
{{ partial:molecules/two_column_content_grid section="Why Abodu" }}


<!--   California   -->
{{ partial:molecules/photo_with_content_block }}


<!--   CTA   -->
{{ partial:molecules/cta }}