//
// Buttons
//

.btn {
   &.--primary {
      @apply border-2 border-white inline-block h-12 leading-none min-w-55 mx-auto no-underline px-8 text-16 text-center;

      padding-top: .875rem;

      @media screen and (min-width: 48rem) {
         @apply h-15 leading-normal text-18;
      }

      &.--input {
         @apply cursor-pointer ml-0 pt-0 w-full;

         @media screen and (min-width: 40rem) {
            height: 5rem;
            max-width: 348px
         }
      }
   }

   &.--secondary {
      @apply inline-block font-bold h-12 leading-none min-w-55 mx-auto no-underline px-8 text-13 text-center tracking-extra-wide uppercase;

      padding-top: 1.125rem;

      @media screen and (min-width: 48rem) {
         @apply h-15 leading-normal;

         padding-top: 1.3125rem
      }

      @apply bg-white text-black;

      &:hover {
         @apply bg-black text-white
      }
   }

   &.--arrow {
      @apply flex;

      a {
         @apply flex mt-6 no-underline text-16 text-black;

         span {
            @apply ml-3 pt-px;

            svg { fill: #9b4c05 }
         }

         &:hover { @apply text-rust }

         @media screen and (min-width: 36rem) {
            @apply text-18;
         }
      }

      &.--white {
         a {
            @apply text-white;

            svg { fill: white }

            &:hover { @apply opacity-75 }
         }
      }
   }

   &.--reveal {
      @apply absolute flex h-6 items-center justify-center leading-none mr-2 pb-1 pin-r text-24 w-8;

      &:hover {
         @apply text-green
      }

      &::before {
         content: '+'
      }

      &.--active {
         &::before {
            content: '-'
         }
      }
      @media screen and (min-width: 48rem) {
         @apply text-30 mr-1 w-10
      }
   }
}



.btn.--arrow {

   @apply flex mt-6 no-underline text-16 text-black;

   span {
      @apply ml-3 pt-px;

      svg { fill: #9b4c05 }
   }

   &:hover { @apply text-rust }

   @media screen and (min-width: 36rem) {
      @apply text-18;
   }

}