//
// Headings
//

.heading {
   @apply font-bold leading-tight;

   &.--dash {
      @apply flex leading-loose mb-1 pl-6 relative text-10 tracking-extra-wide uppercase;

      @media screen and (min-width: 22.5rem) {
         @apply text-13
      }

      &::before {
         @apply absolute block pin-b pin-l w-4;
         content: '';
         height: .125rem;
         margin-bottom: 7px;

         @media screen and (min-width: 22.5rem) {
            margin-bottom: 9px
         }
      }

      &.--rust {
         @apply text-rust;

         &::before {
            @apply bg-rust
         }
      }

      &.--white {
         @apply text-white;

         &::before {
            @apply bg-white
         }
      }

      &.--green {
         @apply text-green;

         &::before {
            @apply bg-green
         }
      }
   }

   &.--primary {
      @apply font-normal text-30;

      span { @apply text-rust }

      @media screen and (min-width: 22.5rem) {
         @apply text-36
      }

      @media screen and (min-width: 36rem) {
         @apply text-42
      }

      @media screen and (min-width: 48rem) {
         @apply text-64
      }
   }

   &.--secondary {
      @apply font-normal text-24;

      @media screen and (min-width: 22.5rem) {
         @apply text-30
      }

      @media screen and (min-width: 48rem) {
         @apply text-36
      }

      @media screen and (min-width: 62rem) {
         @apply text-42
      }

      @media screen and (min-width: 75rem) {
         @apply text-60
      }
   }

   &.--tertiary {
      @apply text-24;

      @media screen and (min-width: 48rem) {
         @apply text-36
      }

      @media screen and (min-width: 62rem) {
         @apply text-42
      }

      &.--book { @apply font-normal }
   }

   &.--quaternary {
      @apply text-24;

      @media screen and (min-width: 48rem) {
         @apply text-38
      }
   }

   &.--quinary {
      @apply text-20;

      @media screen and (min-width: 62rem) {
         @apply text-26
      }
   }

   &.--senary {
      @apply text-20
   }

   &.--septenary {
      @apply text-16;

      @media screen and (min-width: 48rem) {
         @apply text-18
      }
   }
}