//
// Animation
//

.hero-animation {
   @apply font-normal leading-tight text-30;

   @media screen and (min-width: 30rem) {
      font-size: 6.75vw;
   }

   @media screen and (min-width: 36rem) {
      font-size: 6.5vw;
   }

   @media screen and (min-width: 48rem) {
      font-size: 6.25vw;
   }

   @media screen and (min-width: 64rem) {
      @apply text-64
   }


   .hero-animation__animate {
      span {
         @apply
            hidden
            text-rust;
      }

      &.--one {
         span {
            @apply block;
         }
      }

      &.--two {
         span {
            &:nth-child(2){
               @apply block
            }
         }
      }

      &.--three {
         span {
            &:nth-child(3){
               @apply block
            }
         }
      }

      &.--four {
         span {
            &:nth-child(4){
               @apply block
            }
         }
      }

      &.--five {
         span {
            &:nth-child(5){
               @apply block
            }
         }
      }
   }

   @media screen and (min-width: 30rem ) {
      .hero-animation__animate {
         @apply block;
         padding-bottom: 1.25em;

         span {
            @apply absolute block overflow-hidden opacity-0;
         }

         &.--one {
            padding-bottom: 0;

            span {
               @apply
                  static
                  block
                  opacity-100
            }
         }

         &.--two {
            span {
               &:nth-child(1) {
               	animation: animationStart 6s ease-out 0s;
               }

               &:nth-child(2) {
                  @apply opacity-100;
               	animation: animationEndTwo 3s linear 0s;
               }
            }
         }

         &.--three {
            span {
               &:nth-child(1) {
               	animation: animationStart 9s ease-out 0s;
               }

               &:nth-child(2){
               	animation: animationMiddle 9s ease-out 0s;
               	//animation-delay: 3s;
               }

               &:nth-child(3) {
                  @apply opacity-100;
               	animation: animationEndThree 9s linear 0s;
               }
            }
         }

         &.--five {
            span {
               /*
               &:nth-child(1){
               	animation: animationStart 15s ease-out 0s;
               }

               &:nth-child(2){
               	animation: animationMiddle 15s ease-out 0s;
               	animation-delay: 3s;
               }

               &:nth-child(3){
               	animation: animationMiddle 15s ease-out 0s;
               	animation-delay: 6s;
               }

               &:nth-child(4){
               	animation: animationMiddle 15s ease-out 0s;
                  animation-delay: 9s;
               }

               &:nth-child(5){
               	@apply opacity-100;
               	animation: animationEnd 15s linear 0s;
               }
               */

               &:nth-child(1){
               	animation: animation1 10s ease-out 0s;
               }
               @-webkit-keyframes animation1 {
               	0% { opacity: 1; }
               	35% { opacity: 1; -webkit-transform: translateY(0px); } // 3.5s
               	40% { opacity: 0; -webkit-transform: translateY(.375em); } // 4s
               	100% { opacity: 0; }
               }

               &:nth-child(2){
               	animation: animation2 10s ease-in-out 0s;
               }

               @-webkit-keyframes animation2 {
               	0% { opacity: 0; }

               	40% { opacity: 0; -webkit-transform: translateY(-.75em); } // 4s
               	45% { opacity: 1; -webkit-transform: translateY(0px); } // 4.75

               	55% { opacity: 1; -webkit-transform: translateY(0px); } // 5.5
                  60% {
                     opacity: 0;
                     -webkit-transform: translateY(.375em)
                  }
               	100% { opacity: 0; }
               }

               &:nth-child(3){
                  animation: animation3 10s ease-in-out 0s;
               }
               @-webkit-keyframes animation3 {
               	0% { opacity: 0; }

               	60% { opacity: 0; -webkit-transform: translateY(-.75em); } // 6s
               	65% { opacity: 1; -webkit-transform: translateY(0px); } // 6.5s

               	75% { opacity: 1; -webkit-transform: translateY(0px); } // 7.5s
                  80% { opacity: 0; -webkit-transform: translateY(.375em)}// 8s
               	100% { opacity: 0; }
               }

               &:nth-child(4){
               	animation: animation4 10s ease-in-out 0s;
                  animation-delay: 5s;
               }

               @-webkit-keyframes animation4 {
               	0% { opacity: 0; }

               	30% { opacity: 0; -webkit-transform: translateY(-.75em) } // 5 + 3s   = 8s
               	35% { opacity: 1; -webkit-transform: translateY(0px) }    // 5+ 3.5s  = 8.5s

               	45% { opacity: 1; -webkit-transform: translateY(0px); }   // 5 + 4.5s = 9.5s
                  50% { opacity: 0; -webkit-transform: translateY(.375em)}  // 5 + 5s   = 10
               	100% { opacity: 0; }
               }

               &:nth-child(5){
               	@apply opacity-100;
               	animation: animation5 20s ease-in-out 0s;
               }

               @-webkit-keyframes animation5 {
               	0% { opacity: 0 }

               	50% { opacity: 0; -webkit-transform: translateY(-.75em) } // 5 + 5s
               	52% { opacity: 1; -webkit-transform: translateY(0px) }    // 5 + 5.5s

               	57% { opacity: 1 }   // 11.5s
                  //70% { opacity: 0; -webkit-transform: translateY(.375em)}  // 5 + 4s
               	100% { opacity: 1 }
               }
            }
         }

         @-webkit-keyframes animationStart {
         	0% { opacity: 1; }
         	25% { opacity: 1; -webkit-transform: translateY(0px); } //3.75s
         	26% { opacity: 0; -webkit-transform: translateY(.375em); } //3.9s
         	100% { opacity: 0; }
         }

         @-webkit-keyframes animationMiddle {
         	0% { opacity: 0; }
         	5% { opacity: 0; -webkit-transform: translateY(-.75em); } //.75s + 3
         	10% { opacity: 1; -webkit-transform: translateY(0px); } // 1.5s + 3
         	25% { opacity: 1; -webkit-transform: translateY(0px); } // 3.75s + 3
         	26% { opacity: 0; -webkit-transform: translateY(.375em); } // 3.9s + 3
         	100% { opacity: 0; }
         }


         @-webkit-keyframes animationEndTwo {
         	0% { opacity: 0; }
         	50% { opacity: 0; -webkit-transform: translateY(-.75em); }
         	70% { opacity: 1; -webkit-transform: translateY(0px); }
         	100% { opacity: 1; }
         }

         @-webkit-keyframes animationEndThree {
         	0% { opacity: 0; }
         	60% { opacity: 0; -webkit-transform: translateY(-.75em); }
         	80% { opacity: 1; -webkit-transform: translateY(0px); }
         	100% { opacity: 1; }
         }

         @-webkit-keyframes animationEnd {
         	0% { opacity: 0; }
         	85% { opacity: 0; -webkit-transform: translateY(-.75em); }
         	88% { opacity: 1; -webkit-transform: translateY(0px); }
         	100% { opacity: 1; }
         }
      }
   }
}