//
// Abodu
//

@tailwind preflight;
@tailwind utilities;
@tailwind screens;

// Atoms
@import 'atoms/buttons';
@import 'atoms/fonts';
@import 'atoms/headings';
@import 'atoms/images';
@import 'atoms/lists';

// Molecules
@import 'molecules/color_block';
@import 'molecules/hero';
@import 'molecules/image_grids';
@import 'molecules/nav';
@import 'molecules/slider';

// Plugins
@import 'plugins/hamburger/hamburger';
@import 'plugins/sass-flexbox-grid/main';
@import 'plugins/tiny-slider';


@import 'forms';



a, button { transition: all 150ms ease-in-out }

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
	body { @apply antialiased }
}

.element-invisible {
	@apply absolute h-px overflow-hidden w-px;
	clip: rect(1px, 1px, 1px, 1px)
}

@media only screen and (min-width: 48rem) {
	.row.reverse-md { flex-direction: row-reverse!important }
}

// Text Blocks
.nested-mb-6 {
	@apply -mb-6;

	p { @apply mb-6 }
}

@media screen and (min-width: 48rem) {
	.md\:2-columns {
		column-count: 2;
		column-gap: 2rem
	}
}