//
// Abodu
//

@tailwind preflight;
@tailwind utilities;
@tailwind screens;

// Atoms
@import 'atoms/buttons';
@import 'atoms/fonts';
@import 'atoms/headings';
@import 'atoms/hero-animation';
@import 'atoms/images';
@import 'atoms/lists';
@import 'atoms/text';

// Molecules
@import 'molecules/accordian';
@import 'molecules/card_slider';
@import 'molecules/color_block';
@import 'molecules/footer';
@import 'molecules/forms';
@import 'molecules/hero';
@import 'molecules/image_grids';
@import 'molecules/nav';
@import 'molecules/slider';

// Plugins
@import 'plugins/hamburger/hamburger';
@import 'plugins/medium-zoom';
@import 'plugins/sass-flexbox-grid/main';
@import 'plugins/tiny-slider';


@import 'forms';



a, button { transition: all 150ms ease-in-out }
button {
	&:focus {
		outline: none
	}
}

:-moz-focusring {
	 outline: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
	body { @apply antialiased }
}

.element-invisible {
	@apply absolute h-px overflow-hidden w-px;
	clip: rect(1px, 1px, 1px, 1px)
}

@media only screen and (min-width: 48rem) {
	.row.reverse-md { flex-direction: row-reverse!important }
}

// Text Blocks
.nested-mb-6 {
	@apply -mb-6;

	p { @apply mb-6 }
}

@media screen and (min-width: 48rem) {
	.md\:2-columns {
		column-count: 2;
		column-gap: 2rem
	}
}


// Grid Container
.container {
	@apply max-w-3xl mx-auto px-4;

	@media screen and (min-width: 22.5rem) {
		@apply px-6
	}

	@media screen and (min-width: 36rem) {
		@apply px-10
	}

	@media screen and (min-width: 48rem) {
		@apply px-16
	}

	@media screen and (min-width: 62rem) {
		@apply px-20
	}
}